.filter-btn {
    padding: 8px 15px;
    border: 1px solid #ddd;
    background: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.2s;
    font-size: 14px;
    font-weight: 700;
}

.filter-btn:hover {
    background: #f5f5f5;
}

.filter-btn.active {
    background: #223555;
    color: #fff;
    border-color: #000;
}